main{
   
   /* background-image: url(../../../images/bgtwo.jpg);
   background-repeat:no-repeat;
   
   background-size: cover;
   height: auto 100%;
   background-position: left top; */
  
}
.btn-hero{
   background-color: #357e98;
   font-size:20px;
   font-weight:600;
   padding: 10px 15px;
   margin-top: 15px;

}
.btn-hero:hover{
   background-color: #43a0c2;
   
}


